
@media screen and (min-width:300px) and (max-width:400px) {
    .container {
        width: 100%;
    }

    header {
        nav {
            .container {
                .left{
                    .name {
                            h2 {
                                font-size: 2em;
                                color: #FFED00;
                                text-shadow: 0 0 2px #8e8500;
                            }
                    
                            h6 {
                                font-size: .8em;
                                color: silver;
                            }
                        }
                }
                .right {
                    ul {
                        flex-direction: column;
                        transform: translate(-1000px, 155px);
                        position: absolute;
                        display: flex;
                        width: 99%;
                        padding: 10px 0;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(192, 192, 192, 0.315);
                        backdrop-filter: blur(15px);
                        border-radius: 5px;
                        transition: all .3s linear;
                        li{
                            a{
                                color: #FFED00;
                            }
                        }
                    }

                    span {
                        display: block;

                        svg {
                            fill: #aaa;
                            filter: drop-shadow(0px 0px 2px #000);
                        }
                    }

                    .active_menu {
                        transform: translate(-41%, 155px);
                    }
                }
            }
        }
    }
    .messangers{
        right: 0;
        top: 250px;
        a{
            svg{
                width: 30px;
            }
            svg:hover{
                transform: translateX(-5px);
            }
        }
    }
    .page1{
        background: url("https: //mir-s3-cdn-cf.behance.net/project_modules/max_3840/093ae496677423.5eb3b3c6caaa7.jpg");
        background-size: contain;
        background-size: 100%;
        background-clip: border-box;
        background-repeat: no-repeat;
        .container{
            .card{
                margin-top: 20px;
                width: 100%;
                padding-right: 35px;
                border-top-right-radius: 30%;
                h1{
                    font-size: 3em;
                }
                a{
                    font-size: 1em;
                }
            }
            .image{
                display: none;
            }
        }
    }

}
@media screen and (min-width:400px) and (max-width:600px) {
.container {
        width: 100%;
    }

    header {
        nav {
            .container {
                .left {
                    .name {
                        h2 {
                            font-size: 2em;
                            color: #FFED00;
                            text-shadow: 0 0 2px #8e8500;
                        }

                        h6 {
                            font-size: .8em;
                            color: silver;
                        }
                    }
                }

                .right {
                    ul {
                        flex-direction: column;
                        transform: translate(-1000px, 155px);
                        position: absolute;
                        display: flex;
                        width: 99%;
                        padding: 10px 0;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(192, 192, 192, 0.315);
                        backdrop-filter: blur(15px);
                        border-radius: 5px;
                        transition: all .3s linear;

                        li {
                            a {
                                color: #FFED00;
                            }
                        }
                    }

                    span {
                        display: block;

                        svg {
                            fill: #aaa;
                            filter: drop-shadow(0px 0px 2px #000);
                        }
                    }

                    .active_menu {
                        transform: translate(-43%, 155px);
                    }
                }
            }
        }
    }

    .messangers {
        right: 0;
        top: 250px;

        a {
            svg {
                width: 30px;
            }

            svg:hover {
                transform: translateX(-5px);
            }
        }
    }

    .page1 {
        background: url("https: //mir-s3-cdn-cf.behance.net/project_modules/max_3840/093ae496677423.5eb3b3c6caaa7.jpg");
        background-size: contain;
        background-size: 100%;
        background-clip: border-box;
        background-repeat: no-repeat;

        .container {
            .card {
                margin-top: 20px;
                width: 100%;
                padding-right: 35px;
                border-top-right-radius: 30%;

                h1 {
                    font-size: 3em;
                }

                a {
                    font-size: 1em;
                }
            }

            .image {
                display: none;
            }
        }
    }
}

@media screen and (min-width:600px) and (max-width:800px) {
    .container {
            width: 100%;
        }
    
        header {
            nav {
                .container {
                    .left {
                        .name {
                            h2 {
                                font-size: 2em;
                                color: #FFED00;
                                text-shadow: 0 0 2px #8e8500;
                            }
    
                            h6 {
                                font-size: .8em;
                                color: silver;
                            }
                        }
                    }
    
                    .right {
                        ul {
                            flex-direction: column;
                            transform: translate(-1000px, 155px);
                            position: absolute;
                            display: flex;
                            width: 99%;
                            padding: 10px 0;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(192, 192, 192, 0.315);
                            backdrop-filter: blur(15px);
                            border-radius: 5px;
                            transition: all .3s linear;
    
                            li {
                                a {
                                    color: #FFED00;
                                }
                            }
                        }
    
                        span {
                            display: block;
    
                            svg {
                                fill: #aaa;
                                filter: drop-shadow(0px 0px 2px #000);
                            }
                        }
    
                        .active_menu {
                            transform: translate(-35.5%, 155px);
                        }
                    }
                }
            }
        }
    
        .messangers {
            right: 0;
            top: 250px;
    
            a {
                svg {
                    width: 40px;
                }
    
                svg:hover {
                    transform: translateX(-5px);
                }
            }
        }
    
        .page1 {
            background: url("https: //mir-s3-cdn-cf.behance.net/project_modules/max_3840/093ae496677423.5eb3b3c6caaa7.jpg");
            background-size: contain;
            background-size: 100%;
            background-clip: border-box;
            background-repeat: no-repeat;
    
            .container {
                .card {
                    margin-top: 20px;
                    width: 100%;
                    padding-right: 35px;
                    border-top-right-radius: 30%;
    
                    h1 {
                        font-size: 3em;
                    }
    
                    a {
                        font-size: 1em;
                    }
                }
    
                .image {
                    display: none;
                }
            }
        }
}