@media screen and (min-width: 300px) and (max-width: 400px) {
  .container {
    width: 100%;
  }
  header nav .container .left .name h2 {
    font-size: 2em;
    color: rgb(0, 184, 0);
    text-shadow: 0 0 2px rgb(0, 184, 0);
  }
  header nav .container .left .name h6 {
    font-size: 0.8em;
    color: silver;
  }
  header nav .container .right ul {
    flex-direction: column;
    transform: translate(-1000px, 125px);
    position: absolute;
    display: flex;
    width: 99%;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(192, 192, 192, 0.315);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    border-radius: 5px;
    transition: all 0.3s linear;
  }
  header nav .container .right ul li a {
    color: rgb(0, 184, 0);
  }
  header nav .container .right span {
    display: block;
  }
  header nav .container .right span svg {
    fill: rgb(0, 184, 0);
    filter: drop-shadow(0px 0px 2px rgb(0, 184, 0));
  }
  header nav .container .right .active_menu {
    transform: translate(-41%, 125px);
  }
  .messangers {
    right: 60px;
    bottom: 0;
    top: 530px;
    flex-direction: row;
  }
  .messangers a svg {
    width: 50px;
  }
  .messangers a svg:hover {
    transform: translateX(-5px);
  }
  .page1 .container form {
    width: 100%;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .container {
    width: 100%;
  }
  header nav .container .left .name h2 {
    font-size: 2em;
    color: rgb(0, 184, 0);
    text-shadow: 0 0 2px rgb(0, 184, 0);
  }
  header nav .container .left .name h6 {
    font-size: 0.8em;
    color: silver;
  }
  header nav .container .right ul {
    flex-direction: column;
    transform: translate(-1000px, 155px);
    position: absolute;
    display: flex;
    width: 99%;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(192, 192, 192, 0.315);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    border-radius: 5px;
    transition: all 0.3s linear;
  }
  header nav .container .right ul li a {
    color: #FFED00;
  }
  header nav .container .right span {
    display: block;
  }
  header nav .container .right span svg {
    fill: rgb(0, 184, 0);
    filter: drop-shadow(0px 0px 2px rgb(0, 184, 0));
  }
  header nav .container .right .active_menu {
    transform: translate(-43%, 155px);
  }
  .messangers {
    right: 0;
    top: 250px;
  }
  .messangers a svg {
    width: 50px;
  }
  .messangers a svg:hover {
    transform: translateX(-5px);
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .container {
    width: 100%;
  }
  header nav .container .left .name h2 {
    font-size: 2em;
    color: rgb(0, 184, 0);
    text-shadow: 0 0 2px rgb(0, 184, 0);
  }
  header nav .container .left .name h6 {
    font-size: 0.8em;
    color: silver;
  }
  header nav .container .right ul {
    flex-direction: column;
    transform: translate(-10800px, 155px);
    position: absolute;
    display: flex;
    width: 99%;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(192, 192, 192, 0.315);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    border-radius: 5px;
    transition: all 0.3s linear;
  }
  header nav .container .right ul li a {
    color: rgb(0, 184, 0);
  }
  header nav .container .right span {
    display: block;
  }
  header nav .container .right span svg {
    fill: rgb(0, 184, 0);
    filter: drop-shadow(0px 0px 2px rgb(0, 184, 0));
  }
  header nav .container .right .active_menu {
    transform: translate(-42%, 155px);
  }
  .messangers {
    right: 0;
    top: 250px;
  }
  .messangers a svg {
    width: 50px;
  }
  .messangers a svg:hover {
    transform: translateX(-5px);
  }
}/*# sourceMappingURL=formsmedia.css.map */